USE [master]
GO
/****** Object:  Database [inmogestor_db]    Script Date: 07/04/2026 16:34:19 ******/
CREATE DATABASE [inmogestor_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'inmogestor_db_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\inmogestor_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'inmogestor_db_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\inmogestor_db.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [inmogestor_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [inmogestor_db]
GO
USE [inmogestor_db]
GO
/****** Object:  Sequence [dbo].[seq_nro_recibo]    Script Date: 07/04/2026 16:34:19 ******/
CREATE SEQUENCE [dbo].[seq_nro_recibo] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[contrato_alquiler]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contrato_alquiler](
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[condiciones] [varchar](200) NOT NULL,
	[cantidad_cuotas] [int] NOT NULL,
	[precio_cuota] [decimal](12, 2) NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[inmueble_id] [int] NOT NULL,
	[dni_inquilino] [varchar](50) NOT NULL,
	[rol_inquilino_id] [int] NOT NULL,
	[tasa_mora_mensual] [decimal](5, 2) NOT NULL,
	[estado] [int] NOT NULL,
	[usuario_creador] [int] NOT NULL,
	[contrato_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_contrato_alquiler] PRIMARY KEY CLUSTERED 
(
	[contrato_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuota]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuota](
	[cuota_id] [int] IDENTITY(1,1) NOT NULL,
	[contrato_id] [int] NOT NULL,
	[nro_cuota] [int] NOT NULL,
	[periodo] [char](6) NOT NULL,
	[fecha_venc] [date] NOT NULL,
	[importe_base] [decimal](18, 2) NOT NULL,
	[estado] [tinyint] NOT NULL,
	[tasa_mora_mensual_aplicada] [decimal](5, 2) NOT NULL,
	[otros_adicionales_total] [decimal](10, 2) NOT NULL,
	[desc_adicionales] [varchar](300) NULL,
 CONSTRAINT [PK_cuota] PRIMARY KEY CLUSTERED 
(
	[cuota_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_cuota_contrato_nro] UNIQUE NONCLUSTERED 
(
	[contrato_id] ASC,
	[nro_cuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_cuota_contrato_periodo] UNIQUE NONCLUSTERED 
(
	[contrato_id] ASC,
	[periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historial_backup]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historial_backup](
	[backup_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_archivo] [varchar](500) NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[tamaño_mb] [decimal](10, 2) NOT NULL,
	[duracion_segundos] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[ruta_archivo] [varchar](1000) NOT NULL,
	[mensaje_error] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[backup_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inmueble]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inmueble](
	[inmueble_id] [int] IDENTITY(1,1) NOT NULL,
	[direccion] [varchar](200) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
	[estado] [int] NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[id_tipo_inmueble] [int] NOT NULL,
	[dni] [varchar](50) NULL,
	[rol_cliente_id] [int] NULL,
	[imagen] [nvarchar](500) NULL,
	[disponibilidad] [int] NOT NULL,
	[division] [varchar](10) NULL,
 CONSTRAINT [PK_inmueble] PRIMARY KEY CLUSTERED 
(
	[inmueble_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log_error]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_error](
	[log_error_id] [bigint] IDENTITY(1,1) NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[usuario_id] [int] NULL,
	[formulario] [varchar](100) NULL,
	[metodo] [varchar](100) NULL,
	[mensaje_error] [nvarchar](max) NOT NULL,
	[stack_trace] [nvarchar](max) NULL,
 CONSTRAINT [pk_log_error] PRIMARY KEY CLUSTERED 
(
	[log_error_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log_usuario]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_usuario](
	[log_usuario_id] [bigint] IDENTITY(1,1) NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[admin_ejecutor_dni] [varchar](50) NULL,
	[usuario_afectado_dni] [varchar](50) NULL,
	[accion] [varchar](50) NOT NULL,
	[detalle] [nvarchar](1000) NULL,
 CONSTRAINT [pk_log_usuario] PRIMARY KEY CLUSTERED 
(
	[log_usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metodo_pago]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metodo_pago](
	[metodo_pago_id] [int] NOT NULL,
	[tipo_pago] [varchar](100) NOT NULL,
	[descripcion_] [varchar](200) NOT NULL,
 CONSTRAINT [PK_metodo_pago] PRIMARY KEY CLUSTERED 
(
	[metodo_pago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_metodo_pago_tipo] UNIQUE NONCLUSTERED 
(
	[tipo_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pago]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pago](
	[fecha_pago] [date] NOT NULL,
	[monto_total] [decimal](12, 2) NOT NULL,
	[periodo] [varchar](50) NOT NULL,
	[metodo_pago_id] [int] NOT NULL,
	[estado] [int] NOT NULL,
	[cuota_id] [int] NOT NULL,
	[pago_id] [bigint] IDENTITY(1,1) NOT NULL,
	[mora_cobrada] [decimal](10, 2) NOT NULL,
	[usuario_creador] [int] NOT NULL,
 CONSTRAINT [PK_pago] PRIMARY KEY CLUSTERED 
(
	[pago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pago_anulado]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pago_anulado](
	[anulacion_id] [bigint] IDENTITY(1,1) NOT NULL,
	[pago_id] [bigint] NOT NULL,
	[fecha_anulacion] [datetime2](0) NOT NULL,
	[usuario_anulo] [varchar](100) NULL,
	[monto_total_anulado] [decimal](10, 2) NOT NULL,
	[motivo] [varchar](300) NULL,
 CONSTRAINT [PK_anulacion_id] PRIMARY KEY CLUSTERED 
(
	[anulacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[dni] [varchar](50) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[apellido] [varchar](200) NOT NULL,
	[correo_electronico] [varchar](200) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[direccion] [varchar](200) NOT NULL,
	[estado] [int] NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_persona_correo] UNIQUE NONCLUSTERED 
(
	[correo_electronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona_rol_cliente]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona_rol_cliente](
	[fecha_creacion] [date] NOT NULL,
	[dni] [varchar](50) NOT NULL,
	[rol_cliente_id] [int] NOT NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_persona_rol_cliente] PRIMARY KEY CLUSTERED 
(
	[dni] ASC,
	[rol_cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recibo]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recibo](
	[fecha_emision] [date] NOT NULL,
	[nro_comprobante] [int] NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[pago_id] [bigint] NOT NULL,
	[recibo_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_recibo] PRIMARY KEY CLUSTERED 
(
	[recibo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_recibo_nro] UNIQUE NONCLUSTERED 
(
	[nro_comprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol_cliente]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol_cliente](
	[rol_cliente_id] [int] NOT NULL,
	[descripcion_] [varchar](200) NOT NULL,
 CONSTRAINT [PK_rol_cliente] PRIMARY KEY CLUSTERED 
(
	[rol_cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_rol_cliente_desc] UNIQUE NONCLUSTERED 
(
	[descripcion_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol_usuario]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol_usuario](
	[rol_usuario_id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_rol_usuario] PRIMARY KEY CLUSTERED 
(
	[rol_usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_rol_usuario_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_inmueble]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_inmueble](
	[tipo_inmueble_id] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tipo_inmueble] PRIMARY KEY CLUSTERED 
(
	[tipo_inmueble_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tipo_inmueble_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 07/04/2026 16:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[clave] [varchar](50) NOT NULL,
	[estado] [int] NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[rol_usuario_id] [int] NOT NULL,
	[dni] [varchar](50) NOT NULL,
	[usuario_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_usuario_dni] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_cuota_contrato_estado]    Script Date: 07/04/2026 16:34:19 ******/
CREATE NONCLUSTERED INDEX [IX_cuota_contrato_estado] ON [dbo].[cuota]
(
	[contrato_id] ASC,
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cuota_vencimiento]    Script Date: 07/04/2026 16:34:19 ******/
CREATE NONCLUSTERED INDEX [IX_cuota_vencimiento] ON [dbo].[cuota]
(
	[fecha_venc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_pago_activo_por_cuota]    Script Date: 07/04/2026 16:34:19 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_pago_activo_por_cuota] ON [dbo].[pago]
(
	[cuota_id] ASC
)
WHERE ([estado]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[contrato_alquiler] ADD  CONSTRAINT [DF_contrato_fcre]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[contrato_alquiler] ADD  CONSTRAINT [DF_contrato_tasa_mora]  DEFAULT ((0)) FOR [tasa_mora_mensual]
GO
ALTER TABLE [dbo].[contrato_alquiler] ADD  CONSTRAINT [DF_contrato_alquiler_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[cuota] ADD  CONSTRAINT [DF_cuota_tasa_mora_mensual_aplicada]  DEFAULT ((0)) FOR [tasa_mora_mensual_aplicada]
GO
ALTER TABLE [dbo].[cuota] ADD  CONSTRAINT [DF_contrato_adicionales]  DEFAULT ((0)) FOR [otros_adicionales_total]
GO
ALTER TABLE [dbo].[inmueble] ADD  CONSTRAINT [DF_inmueble_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[inmueble] ADD  CONSTRAINT [DF_inmueble_fcre]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[inmueble] ADD  CONSTRAINT [DF_inmueble_disponibilidad]  DEFAULT ((1)) FOR [disponibilidad]
GO
ALTER TABLE [dbo].[log_error] ADD  DEFAULT (getdate()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[log_usuario] ADD  DEFAULT (getdate()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[pago] ADD  CONSTRAINT [DF_pago_fpago]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[pago] ADD  CONSTRAINT [DF_pago_estado]  DEFAULT ((2)) FOR [estado]
GO
ALTER TABLE [dbo].[pago] ADD  CONSTRAINT [DF_pago_mora_cobrada]  DEFAULT ((0)) FOR [mora_cobrada]
GO
ALTER TABLE [dbo].[pago_anulado] ADD  CONSTRAINT [DF_pago_anulacion_fecha]  DEFAULT (sysutcdatetime()) FOR [fecha_anulacion]
GO
ALTER TABLE [dbo].[persona_rol_cliente] ADD  CONSTRAINT [DF_prc_fcre]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[persona_rol_cliente] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[recibo] ADD  CONSTRAINT [DF_recibo_nro]  DEFAULT (NEXT VALUE FOR [dbo].[seq_nro_recibo]) FOR [nro_comprobante]
GO
ALTER TABLE [dbo].[recibo] ADD  CONSTRAINT [DF_recibo_fcre]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF_usuario_fcre]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[contrato_alquiler]  WITH CHECK ADD  CONSTRAINT [FK_contrato_inmueble] FOREIGN KEY([inmueble_id])
REFERENCES [dbo].[inmueble] ([inmueble_id])
GO
ALTER TABLE [dbo].[contrato_alquiler] CHECK CONSTRAINT [FK_contrato_inmueble]
GO
ALTER TABLE [dbo].[contrato_alquiler]  WITH CHECK ADD  CONSTRAINT [FK_contrato_inquilino] FOREIGN KEY([dni_inquilino], [rol_inquilino_id])
REFERENCES [dbo].[persona_rol_cliente] ([dni], [rol_cliente_id])
GO
ALTER TABLE [dbo].[contrato_alquiler] CHECK CONSTRAINT [FK_contrato_inquilino]
GO
ALTER TABLE [dbo].[contrato_alquiler]  WITH CHECK ADD  CONSTRAINT [FK_contrato_usuario_creador] FOREIGN KEY([usuario_creador])
REFERENCES [dbo].[usuario] ([usuario_id])
GO
ALTER TABLE [dbo].[contrato_alquiler] CHECK CONSTRAINT [FK_contrato_usuario_creador]
GO
ALTER TABLE [dbo].[cuota]  WITH CHECK ADD  CONSTRAINT [FK_cuota_contrato] FOREIGN KEY([contrato_id])
REFERENCES [dbo].[contrato_alquiler] ([contrato_id])
GO
ALTER TABLE [dbo].[cuota] CHECK CONSTRAINT [FK_cuota_contrato]
GO
ALTER TABLE [dbo].[inmueble]  WITH CHECK ADD  CONSTRAINT [FK_inmueble_persona_rol] FOREIGN KEY([dni], [rol_cliente_id])
REFERENCES [dbo].[persona_rol_cliente] ([dni], [rol_cliente_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[inmueble] CHECK CONSTRAINT [FK_inmueble_persona_rol]
GO
ALTER TABLE [dbo].[inmueble]  WITH CHECK ADD  CONSTRAINT [FK_inmueble_tipo] FOREIGN KEY([id_tipo_inmueble])
REFERENCES [dbo].[tipo_inmueble] ([tipo_inmueble_id])
GO
ALTER TABLE [dbo].[inmueble] CHECK CONSTRAINT [FK_inmueble_tipo]
GO
ALTER TABLE [dbo].[log_error]  WITH CHECK ADD  CONSTRAINT [fk_log_error_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuario] ([usuario_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[log_error] CHECK CONSTRAINT [fk_log_error_usuario]
GO
ALTER TABLE [dbo].[pago]  WITH CHECK ADD  CONSTRAINT [FK_pago_cuota] FOREIGN KEY([cuota_id])
REFERENCES [dbo].[cuota] ([cuota_id])
GO
ALTER TABLE [dbo].[pago] CHECK CONSTRAINT [FK_pago_cuota]
GO
ALTER TABLE [dbo].[pago]  WITH CHECK ADD  CONSTRAINT [FK_pago_metodo] FOREIGN KEY([metodo_pago_id])
REFERENCES [dbo].[metodo_pago] ([metodo_pago_id])
GO
ALTER TABLE [dbo].[pago] CHECK CONSTRAINT [FK_pago_metodo]
GO
ALTER TABLE [dbo].[pago]  WITH CHECK ADD  CONSTRAINT [FK_pago_usuario_creador] FOREIGN KEY([usuario_creador])
REFERENCES [dbo].[usuario] ([usuario_id])
GO
ALTER TABLE [dbo].[pago] CHECK CONSTRAINT [FK_pago_usuario_creador]
GO
ALTER TABLE [dbo].[pago_anulado]  WITH CHECK ADD  CONSTRAINT [FK_pago_anulado_pago] FOREIGN KEY([pago_id])
REFERENCES [dbo].[pago] ([pago_id])
GO
ALTER TABLE [dbo].[pago_anulado] CHECK CONSTRAINT [FK_pago_anulado_pago]
GO
ALTER TABLE [dbo].[persona_rol_cliente]  WITH CHECK ADD  CONSTRAINT [FK_prc_persona_dni] FOREIGN KEY([dni])
REFERENCES [dbo].[persona] ([dni])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[persona_rol_cliente] CHECK CONSTRAINT [FK_prc_persona_dni]
GO
ALTER TABLE [dbo].[persona_rol_cliente]  WITH CHECK ADD  CONSTRAINT [FK_prc_rol_cliente] FOREIGN KEY([rol_cliente_id])
REFERENCES [dbo].[rol_cliente] ([rol_cliente_id])
GO
ALTER TABLE [dbo].[persona_rol_cliente] CHECK CONSTRAINT [FK_prc_rol_cliente]
GO
ALTER TABLE [dbo].[recibo]  WITH CHECK ADD  CONSTRAINT [FK_recibo_pago] FOREIGN KEY([pago_id])
REFERENCES [dbo].[pago] ([pago_id])
GO
ALTER TABLE [dbo].[recibo] CHECK CONSTRAINT [FK_recibo_pago]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_persona_dni] FOREIGN KEY([dni])
REFERENCES [dbo].[persona] ([dni])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_persona_dni]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_rol] FOREIGN KEY([rol_usuario_id])
REFERENCES [dbo].[rol_usuario] ([rol_usuario_id])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_rol]
GO
ALTER TABLE [dbo].[contrato_alquiler]  WITH CHECK ADD  CONSTRAINT [CK_contrato_alquiler_estado] CHECK  (([estado]=(2) OR [estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[contrato_alquiler] CHECK CONSTRAINT [CK_contrato_alquiler_estado]
GO
ALTER TABLE [dbo].[contrato_alquiler]  WITH CHECK ADD  CONSTRAINT [CK_contrato_cuotas] CHECK  (([cantidad_cuotas]>(0)))
GO
ALTER TABLE [dbo].[contrato_alquiler] CHECK CONSTRAINT [CK_contrato_cuotas]
GO
ALTER TABLE [dbo].[contrato_alquiler]  WITH CHECK ADD  CONSTRAINT [CK_contrato_fechas] CHECK  (([fecha_fin]>[fecha_inicio]))
GO
ALTER TABLE [dbo].[contrato_alquiler] CHECK CONSTRAINT [CK_contrato_fechas]
GO
ALTER TABLE [dbo].[contrato_alquiler]  WITH CHECK ADD  CONSTRAINT [CK_contrato_precio] CHECK  (([precio_cuota]>(0)))
GO
ALTER TABLE [dbo].[contrato_alquiler] CHECK CONSTRAINT [CK_contrato_precio]
GO
ALTER TABLE [dbo].[contrato_alquiler]  WITH CHECK ADD  CONSTRAINT [CK_contrato_rol_inquilino_2] CHECK  (([rol_inquilino_id]=(2)))
GO
ALTER TABLE [dbo].[contrato_alquiler] CHECK CONSTRAINT [CK_contrato_rol_inquilino_2]
GO
ALTER TABLE [dbo].[cuota]  WITH CHECK ADD  CONSTRAINT [CK_cuota_periodo] CHECK  ((len([periodo])=(6) AND TRY_CAST(left([periodo],(4)) AS [int]) IS NOT NULL AND (TRY_CAST(right([periodo],(2)) AS [int])>=(1) AND TRY_CAST(right([periodo],(2)) AS [int])<=(12))))
GO
ALTER TABLE [dbo].[cuota] CHECK CONSTRAINT [CK_cuota_periodo]
GO
ALTER TABLE [dbo].[cuota]  WITH CHECK ADD  CONSTRAINT [CK_cuota_tasa_mora_rango] CHECK  (([tasa_mora_mensual_aplicada]>=(0) AND [tasa_mora_mensual_aplicada]<=(100)))
GO
ALTER TABLE [dbo].[cuota] CHECK CONSTRAINT [CK_cuota_tasa_mora_rango]
GO
ALTER TABLE [dbo].[pago]  WITH CHECK ADD  CONSTRAINT [CK_pago_mora_cobrada_no_negativa] CHECK  (([mora_cobrada]>=(0)))
GO
ALTER TABLE [dbo].[pago] CHECK CONSTRAINT [CK_pago_mora_cobrada_no_negativa]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [CK_persona_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [CK_persona_estado]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [CK_persona_fnac] CHECK  (([fecha_nacimiento]>='1900-01-01' AND [fecha_nacimiento]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [CK_persona_fnac]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [CK_persona_telefono_fmt] CHECK  ((NOT [telefono] like '%[^0-9+() -]%'))
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [CK_persona_telefono_fmt]
GO
ALTER TABLE [dbo].[persona_rol_cliente]  WITH CHECK ADD  CONSTRAINT [CK_persona_rol_cliente_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[persona_rol_cliente] CHECK CONSTRAINT [CK_persona_rol_cliente_estado]
GO
ALTER TABLE [dbo].[recibo]  WITH CHECK ADD  CONSTRAINT [CK_recibo_fecha] CHECK  (([fecha_emision]>='2000-01-01' AND [fecha_emision]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[recibo] CHECK CONSTRAINT [CK_recibo_fecha]
GO
ALTER TABLE [dbo].[recibo]  WITH CHECK ADD  CONSTRAINT [CK_recibo_nro_pos] CHECK  (([nro_comprobante]>(0)))
GO
ALTER TABLE [dbo].[recibo] CHECK CONSTRAINT [CK_recibo_nro_pos]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [CK_usuario_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [CK_usuario_estado]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [CK_usuario_pass_minlen] CHECK  ((len([clave])>=(8)))
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [CK_usuario_pass_minlen]
GO
USE [master]
GO
